@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100%3B0,300%3B0,400%3B0,500%3B0,700%3B0,900%3B1,100%3B1,300%3B1,400%3B1,500%3B1,700%3B1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    //border: solid rgb(0, 0, 0);
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    font-family: "Oswald";

    h2{
        //border: solid rgb(0, 0, 0);
        font-weight: 700;
        font-size: 2.5rem;
    }

    nav{
     //border: solid rgb(0, 0, 0);
     width: 50%;
     height: 15vh;
    }

    ul{
        //border: solid rgb(0, 0, 0);
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        align-items: center;
    }

    li{
        //border: solid rgb(0, 0, 0);
        font-size: 1.25rem;
        font-weight: 500;
    }

    a{
        //border: solid rgb(0, 0, 0);
        text-decoration: none;
        font-size: 1.25rem;
        color: #5b5b5b;
        font-weight: 500;
    }

    a:hover{
        color: #000000;
        font-size: 1.5rem;
        border: solid;
        font-weight: 900;
    }
}

//main{

    .container_background_image{
        //border: solid rgb(0, 0, 0);
        height: 70vh;
        background-color:  aqua;
        background-image: url("./imagem/background.png");

        
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 8rem;

        background-repeat: repeat-x;
        background-repeat: repeat-y;
        background-repeat: repeat repeat;
        background-repeat: no-repeat;

        background-size: contain;
        background-size: cover;

        background-position: top;
        background-position: bottom;
        background-position: left;
        background-position: right;
        background-position: center;
    }

    h1{
        //border: solid rgb(0, 0, 0);
        align-items: center;
        font-family: "Oswald";
        font-weight: 700;
        font-size: 6rem;
    }

    p{
        //border: solid rgb(0, 0, 0);
        align-items: center;
        font-family: "Oswald";
        font-weight: 300;
        font-size: 32px;
    }

    button{
        margin-left: 2rem;
        margin-top: 2rem;
        border: none;
        align-items: center;
        font-family: "Oswald";
        font-weight: 700;
        font-size: 1.5rem;
        width: 15rem;
        height: 3.6rem;
        color: #ffffff;
        background-color: #0016df;
    }

    .gestaoSection{
    //border: solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 25vh 0;

    strong{
      //border: solid rgb(103, 23, 23);
      color: #0017e9;
      align-items: center;
      font-family: "Oswald";
      font-weight: 500;
      font-size: 1.5rem;
    }

    h2{
      //border: solid rgb(56, 8, 8);
      margin-top: 2rem;
      color: #000000;
      align-items: center;
      font-family: "Roboto";
      font-weight: 800;
      font-size: 2rem;
    }

    p{
      //border: solid rgb(0, 0, 0);
      width: 474px;
      height: 417px;
      margin-top: 2rem;
      color: #000000;
      align-items: center;
      font-family: "Roboto";
      font-weight: 401;
      font-size: 1.5rem;
    }

    a{
      //border: solid rgb(128, 121, 121);
      color: #0017e9;
      align-items: center;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 1.5rem;
      text-decoration: none;
    }

    article{
      //border: solid rgb(39, 123, 148);
      width: 28vw;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
    }

    img{
      //border: solid rgb(34, 144, 80);
      width: 40vw;
    }
  }

    .um-solução-Section{
    //border: solid rgb(0, 0, 0);
    background-color: #d8d8d8;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

    strong{
      //border: solid rgb(0, 0, 0);
      color: #0017e9;
      margin-top: 10vh;
      font-family: "Oswald";
      font-weight: 500;
      font-size: 1.5rem;
      align-items: center;
    }

    h2{
      margin-bottom: 5rem;
      color: #000000;
      font-family: "Oswald";
      font-weight: 500;
      font-size: 1.5rem;
      align-items: center;
    }

    section{
      margin-bottom: 15vh;
      padding: 0;
      width: 80vw;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      article{
        //border: solid rgb(0, 0, 0);
        background-color: #ffffff;
        height: 53vh;
        width: 22vw;
        text-align: start;
        box-shadow: 0px 0px 10px 0px #000000;

        img{
          width: 100%;
        }

        h3{
          margin-top: 1rem;
          margin-left: 1rem;
          font-family: "Oswald";
          font-weight: 500;
          font-size: 1.5rem;
        }

        p{
          margin-top: 1rem;
          margin: 0 1rem;
          font-family: "Oswald";
          font-weight: 200;
          font-size: 1.5rem;
        }
      }
    }
  }

   .dois-contatos-Section{
    background-color: #ffffff;
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .três-atendimento-Article{
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;

      h2 {
        margin-left: 2rem;
        margin-bottom: 1rem;
        color: #0017e9;
        font-family: "Oswald";
        font-weight: 500;
        font-size: 2rem;
      }
      h3 {
        margin-left: 2rem;
        margin-bottom: 2rem;
        color: #000000;
        font-family: "Oswald";
        font-weight: 500;
        font-size: 1.5rem;
      }
      section {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        figure {
          margin-left: 2rem;
          figcaption {
            font-family: "Oswald";
            font-weight: 500;
            font-size: 1.5rem;
          }
        }
      }
    }
    
    .quatro-contatos-Article{
      width: 30vw;

      h2 {
        margin-top: 3.5rem;
        margin-bottom: 1rem;
        color: #0017e9;
        font-family: "Oswald";
        font-weight: 500;
        font-size: 2rem;
      }

      h3 {
        margin-bottom: 1rem;
        color: #000000;
        font-family: "Oswald";
        font-weight: 500;
        font-size: 1.5rem;
      }

      form {
        display: flex;
        flex-direction: column;

        label {
          margin-top: 1.5rem;
          font-family: "Oswald";
          font-weight: 300;
          font-size: 1.5rem;
        }

        input {
          height: 5.5vh;
          width: 23vw;
        }

        textarea {
          height: 12vh;
          width: 23vw;
        }

        button {
          //border:solid #000000;
          margin-top: 3.75rem;
          background-color: #0017e9;
          color: #ffffff;
          width: 23vw;
          height: 6.5vh;
          font-family: "Oswald";
          font-weight: 500;
          font-size: 1.5rem;
        }
      }
    }
  }
 
  footer{
    height: 7vh;
    display: flex;
    justify-content: center;
    background-color: #d8d8d8;
    align-items: center;

    p {
      font-family: "Oswald";
      font-weight: 700;
      font-size: 0.875rem;
    }
  }

  @media (min-width: 769px) and (max-width: 1100px){
    
    header {
      height: 10vh;
    }

    header h2{
      font-size: 1.8rem;
      font-weight: 500;
    }

    header nav {
      width: 30%;
    }

    header a{
      font-size: 0.8rem;
      font-weight: 400;
    }

    header button{
      //border:solid #000000;
      border: 0.5px solid;
      height: 3rem;
      width: 7rem;
      font-size: 1.2rem;
      font-weight: 400;
    }

    .inicialSection{

      h1 {
        font-weight: 400;
        font-size: 4rem;
      }

      p {
        font-weight: 200;
        font-size: 1.3rem;
      }

      button {
        margin-left: 1rem;
        margin-top: 1rem;
        font-weight: 400;
        font-size: 1rem;
        width: 10rem;
        height: 2.4rem;
      }
    }
  
   
  .gestaoSection {
    margin: 10vh 0;
    strong {
      font-weight: 500;
      font-size: 0.9rem;
    }
    h2 {
      margin-top: 1rem;
      font-size: 1.1rem;
    }
    p {
      width: 100%;
      height: 100%;
      margin-top: 1rem;
      font-size: 0.8rem;
    }
    a {
      font-size: 0.8rem;
    }
    article {
      width: 40vw;
    }
    img {
      width: 35vw;
    }
  }

  
    .um-solução-Section{
      strong {
        margin-top: 5vh;
        font-weight: 500;
        font-size: 1.1rem;
      }

      h2 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }
      section{
        article{
          height: 43vh;
          width: 22vw;

          h3{
            font-size: 1.1rem;
          }

          p{
            font-size: 1.1rem;
          }
        }
      }
    }
  
    .contatoSection {
      .atendimentoArticle {
        width: 40vw;
        h2 {
          font-size: 1.2rem;
        }
        h3 {
          font-size: 1rem;
        }
        section {
          flex-wrap: nowrap;
          figure {
            margin-left: 2rem;
            img {
              width: 100%;
            }
            figcaption {
              font-family: "Oswald";
              font-weight: 500;
              font-size: 1rem;
            }
          }
        }
      }
      .contatoArticle {
        width: 30vw;
        h2 {
          font-size: 1.3rem;
        }
        h3 {
          font-size: 1rem;
        }
        form {
          label {
            margin-top: 1rem;
            font-family: "Oswald";
            font-weight: 300;
            font-size: 1rem;
          }
          input {
            height: 5.5vh;
            width: 23vw;
          }
          textarea {
            height: 12vh;
            width: 23vw;
          }
          button {
            margin-top: 3.75rem;
            width: 23vw;
            height: 6.5vh;
            font-size: 1rem;
          }
        }
      }
    }
  
    footer {
      height: 7vh;
      p {
        font-weight: 700;
        font-size: 0.75rem;
      }
    }
  }
  @media (min-width: 426px) and (max-width: 768px) {
    header {
      height: 7vh;
    }
    header h2 {
      font-size: 1.3rem;
      font-weight: 500;
    }
    header a {
      font-size: 0.7rem;
      font-weight: 400;
    }
    header button {
      border: 0.3px solid;
      height: 2.3rem;
      width: 6rem;
      font-size: 0.9rem;
    }
  //483>>
    .inicialSection {
      padding-left: 4.5rem;
      h1 {
        font-weight: 400;
        font-size: 3rem;
      }
      p {
        font-weight: 200;
        font-size: 1rem;
      }
      button {
        margin-left: 0;
        margin-top: 0.5rem;
        font-weight: 400;
        font-size: 0.8rem;
        width: 8rem;
        height: 2rem;
      }
    }
  
    .gestaoSection {
      margin: 10vh 0;
      strong {
        font-weight: 500;
        font-size: 0.9rem;
      }
      h2 {
        margin-top: 1rem;
        font-size: 1.1rem;
      }
      p {
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        font-size: 0.8rem;
      }
      a {
        font-size: 0.8rem;
      }
      article {
        width: 40vw;
      }
      img {
        width: 35vw;
      }
    }
  
    .solucoesSection {
      strong {
        margin-top: 0;
        font-weight: 500;
        font-size: 1rem;
      }
      h2 {
        margin-bottom: 0;
        font-size: 1.2rem;
      }
      section {
        article {
          height: 37vh;
          width: 22vw;
          h3 {
            font-size: 0.8rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  
    .contatoSection {
      .atendimentoArticle {
        width: 40vw;
        h2 {
          font-size: 1rem;
        }
        h3 {
          font-size: 0.8rem;
        }
        section {
          flex-wrap: nowrap;
          figure {
            margin-left: 1rem;
            img {
              width: 100%;
            }
            figcaption {
              font-weight: 500;
              font-size: 0.6rem;
            }
          }
        }
      }
      .contatoArticle {
        width: 40vw;
        h2 {
          font-size: 0.8rem;
        }
        h3 {
          font-size: 0.6rem;
        }
        form {
          label {
            margin-top: 0.3rem;
            font-weight: 300;
            font-size: 0.8rem;
          }
          input {
            height: 3vh;
            width: 100%;
          }
          textarea {
            height: 12vh;
            width: 100%;
          }
          button {
            margin-top: 2rem;
            width: 100%;
            height: 4vh;
            font-size: 0.7rem;
          }
        }
      }
    }
  
    footer {
      height: 5vh;
      p {
        font-weight: 600;
        font-size: 0.6rem;
      }
    }
  }
  @media (max-width: 425px) {
    header {
      height: 5vh;
    }
    header h2 {
      font-size: 1rem;
      font-weight: 400;
    }
    header a {
      font-size: 0.5rem;
      font-weight: 400;
    }
    header button {
      border: 0.1px solid;
      height: 1.5rem;
      width: 3.5rem;
      font-size: 0.6rem;
    }
  
    .inicialSection {
      align-items: center;
      padding: 0;
      h1 {
        font-weight: 400;
        font-size: 3.5rem;
      }
      p {
        font-weight: 200;
        font-size: 1.5rem;
      }
      button {
        margin-left: 0;
        margin-top: 0.5rem;
        font-weight: 400;
        font-size: 1rem;
        width: 9rem;
        height: 2.5rem;
      }
    }
  
    .gestaoSection {
      flex-direction: column;
      margin: 10vh 0;
      strong {
        font-weight: 500;
        font-size: 0.9rem;
      }
      h2 {
        margin-top: 1rem;
        font-size: 1.1rem;
      }
      p {
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        font-size: 0.8rem;
      }
      a {
        font-size: 0.8rem;
      }
      article {
        width: 70vw;
      }
      img {
        width: 70vw;
      }
    }
  
    .solucoesSection {
      height: 130vh;
      strong {
        margin-top: 0;
        font-weight: 500;
        font-size: 1rem;
      }
      h2 {
        margin-bottom: 1rem;
        font-size: 1rem;
      }
      section {
        flex-direction: column;
        align-items: center;
        article {
          height: 35vh;
          width: 60vw;
          margin-bottom: 2rem;
          h3 {
            font-size: 0.8rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  
    .contatoSection {
      flex-direction: row;
      height: 140vh;
      align-items: center;
      .atendimentoArticle {
        justify-content: center;
        align-items: center;
        width: 65vw;
        h2 {
          margin: 0;
          font-size: 1.3rem;
        }
        h3 {
          margin: 0;
          font-size: 1.1rem;
        }
        section {
          width: 40vw;
          flex-wrap: wrap;
          figure {
            margin-left: 0;
            img {
              width: 100%;
            }
            figcaption {
              font-weight: 500;
              font-size: 0.6rem;
            }
          }
        }
      }
      .contatoArticle {
        width: 65vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
          font-size: 1.2rem;
          text-align: center;
        }
        h3 {
          text-align: center;
          font-size: 1rem;
        }
        form {
          width: 40vw;
          label {
            margin-top: 0.3rem;
            font-weight: 300;
            font-size: 0.8rem;
          }
          input {
            height: 3vh;
            width: 100%;
          }
          textarea {
            height: 12vh;
            width: 100%;
          }
          button {
            margin-top: 2rem;
            width: 100%;
            height: 4vh;
            font-size: 0.7rem;
          }
        }
      }
    }
  
    footer {
      height: 5vh;
      p {
        font-weight: 600;
        font-size: 0.45rem;
      }
    }
  }
  